élément {

}
body {

  box-sizing: border-box;
  color: rgb(153, 153, 153);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  min-height: 100%;
  overflow-x: hidden;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;


    color: #333;
    background-color: grey;
margin: 0;
    min-height: 100%;
}

.h5, h5 {
    font-size: 1.25rem;
}
.carousel-caption {

    color: #fff;
    text-align: center;

}

html, body {
    overflow-x: hidden;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}

 .w-75{
   text-align: right;
   background-color: #e1dbda;
}

.card{
margin-top: 50px;
}

}
#b1{
  max-width: 100%;
  max-height: 100%;
}

.description{
  text-align: center;
  vertical-align: inherit;
  margin-top: 50px;
}




/* show 3 items */
 .carousel-inner .active,
 .carousel-inner .active + .carousel-item,
 .carousel-inner .active + .carousel-item + .carousel-item,
 .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
     display: block;
 }

 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
     transition: none;
 }

 .carousel-inner .carousel-item-next,
 .carousel-inner .carousel-item-prev {
   position: relative;
   transform: translate3d(0, 0, 0);
 }

 .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
     position: absolute;
     top: 0;
     right: -25%;
     z-index: -1;
     display: block;
     visibility: visible;
 }

 /* left or forward direction */
 .active.carousel-item-left + .carousel-item-next.carousel-item-left,
 .carousel-item-next.carousel-item-left + .carousel-item,
 .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
 .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
 .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
     position: relative;
     transform: translate3d(-100%, 0, 0);
     visibility: visible;
 }


 /* right or prev direction */
 .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
 .carousel-item-prev.carousel-item-right + .carousel-item,
 .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
 .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
 .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
     position: relative;
     transform: translate3d(100%, 0, 0);
     visibility: visible;
     display: block;
     visibility: visible;
 }

}
